extends layout

block content
  h1= "AuthApp - Login"
  h3= alerts
  form(action="/users/login", method="post")
    label(for="username") Username 
    input(type="text", name="username")
    br
    br
    label(for="password") Password 
    input(type="password", name="password")
    br
    br
    input(type="submit", value="Login")
